// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|PT+Serif');

//colors
$colorA: #191919;
$colorB: #d29fbb;
$colorC: #d2d5ea;
$colorD: #f3f3f3;
$colorE: #bddce3;



//fonts
$fontA: 'Nunito, sans-serif';
$fontB: 'PT Serif', serif;








